* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  padding: 8px;
}

.cta {
  padding: 5px 10px;
  background-color: beige;
  border: none;
}
